### Question 1. Understanding docker first run

docker run -it python:3.12.8 python -m pip --version

pip 24.3.1 from /usr/local/lib/python3.12/site-packages/pip (python 3.12)

### Question 2. Understanding Docker networking and docker-compose

In [2]:
"""
services:
  db:
    container_name: postgres
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_DB: 'ny_taxi'
    ports:
      - '5433:5432'
    volumes:
      - vol-pgdata:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: "pgadmin@pgadmin.com"
      PGADMIN_DEFAULT_PASSWORD: "pgadmin"
    ports:
      - "8080:80"
    volumes:
      - vol-pgadmin_data:/var/lib/pgadmin  

volumes:
  vol-pgdata:
    name: vol-pgdata
  vol-pgadmin_data:
    name: vol-pgadmin_data
"""

#postgres:5432

'\nservices:\n  db:\n    container_name: postgres\n    image: postgres:17-alpine\n    environment:\n      POSTGRES_USER: \'postgres\'\n      POSTGRES_PASSWORD: \'postgres\'\n      POSTGRES_DB: \'ny_taxi\'\n    ports:\n      - \'5433:5432\'\n    volumes:\n      - vol-pgdata:/var/lib/postgresql/data\n\n  pgadmin:\n    container_name: pgadmin\n    image: dpage/pgadmin4:latest\n    environment:\n      PGADMIN_DEFAULT_EMAIL: "pgadmin@pgadmin.com"\n      PGADMIN_DEFAULT_PASSWORD: "pgadmin"\n    ports:\n      - "8080:80"\n    volumes:\n      - vol-pgadmin_data:/var/lib/pgadmin  \n\nvolumes:\n  vol-pgdata:\n    name: vol-pgdata\n  vol-pgadmin_data:\n    name: vol-pgadmin_data\n'

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

### Question 3. Trip Segmentation Count

In [8]:
# During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:
# Up to 1 mile
# In between 1 (exclusive) and 3 miles (inclusive),
# In between 3 (exclusive) and 7 miles (inclusive),
# In between 7 (exclusive) and 10 miles (inclusive),
# Over 10 miles

query = """
SELECT
    CASE
        WHEN trip_distance <= 1 THEN 'Up to 1 mile'
        WHEN trip_distance > 1 AND trip_distance <= 3 THEN '1 - 3 miles'
        WHEN trip_distance > 3 AND trip_distance <= 7 THEN '3 - 7 miles'
        WHEN trip_distance > 7 AND trip_distance <= 10 THEN '7 - 10 miles'
        ELSE 'Over 10 miles'
    END AS distance_range,
    COUNT(*) AS trip_count
FROM green_tripdata
WHERE DATE(lpep_pickup_datetime) >= '2019-10-01'
  AND DATE(lpep_dropoff_datetime) < '2019-11-01'
GROUP BY
    CASE
        WHEN trip_distance <= 1 THEN 'Up to 1 mile'
        WHEN trip_distance > 1 AND trip_distance <= 3 THEN '1 - 3 miles'
        WHEN trip_distance > 3 AND trip_distance <= 7 THEN '3 - 7 miles'
        WHEN trip_distance > 7 AND trip_distance <= 10 THEN '7 - 10 miles'
        ELSE 'Over 10 miles'
    END
"""

pd.read_sql(query, con=engine)

  distance_range  trip_count
0   Up to 1 mile      104802
1    3 - 7 miles      109603
2  Over 10 miles       35189
3   7 - 10 miles       27678
4    1 - 3 miles      198924

### Question 4. Longest trip for each day

In [25]:
# Which was the pick up day with the longest trip distance? Use the pick up time for your calculations.
# Tip: For every day, we only care about one single trip with the longest distance.

query = """
SELECT DATE(lpep_pickup_datetime), max(trip_distance)
FROM green_tripdata
WHERE DATE(lpep_pickup_datetime) >= '2019-10-01'
    AND DATE(lpep_dropoff_datetime) < '2019-11-02'
GROUP BY DATE(lpep_pickup_datetime)
ORDER BY 2 desc
LIMIT 1 
"""

pd.read_sql(query, con=engine)

         date    max
0  2019-10-11  95.78

### Question 5. Three biggest pickup zones

In [88]:
# Which were the top pickup locations with over 13,000 in total_amount (across all trips) for 2019-10-18?
# Consider only lpep_pickup_datetime when filtering by date.

query = """
SELECT 
    zpu."Zone" AS "pickup_loc",
    SUM("total_amount")
FROM green_tripdata t
JOIN taxi_zone_lookup zpu
    ON t."PULocationID" = zpu."LocationID"
JOIN taxi_zone_lookup zdo
    ON t."DOLocationID" = zdo."LocationID"
WHERE DATE(lpep_pickup_datetime) = '2019-10-18'
GROUP BY zpu."Zone"
order by 2 desc
LIMIT 3


"""

pd.read_sql(query, con=engine)

            pickup_loc       sum
0    East Harlem North  17457.15
1    East Harlem South  15145.63
2  Morningside Heights  12593.52

### Question 6. Largest tip

In [74]:
# For the passengers picked up in October 2019 in the zone name "East Harlem North" which was the drop off zone that had the largest tip?
# Note: it's tip , not trip
# We need the name of the zone, not the ID.

query = """
SELECT 
    zpu."Zone" AS "pickup_loc",
    zdo."Zone" AS "dropoff_loc",
    "tip_amount"
FROM green_tripdata t
JOIN taxi_zone_lookup zpu
    ON t."PULocationID" = zpu."LocationID"
JOIN taxi_zone_lookup zdo
    ON t."DOLocationID" = zdo."LocationID"
WHERE DATE(lpep_pickup_datetime) >= '2019-10-01'
    AND DATE(lpep_dropoff_datetime) < '2019-11-01'
    AND zpu."Zone" LIKE 'East Harlem North'
ORDER BY tip_amount DESC
LIMIT 1
"""

pd.read_sql(query, con=engine)

          pickup_loc        dropoff_loc  tip_amount
0  East Harlem North  East Harlem North        40.0